.profilfoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.isim_intro {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    
}
.intro{
    font-size: 20px;
}

.baslik {
    font-size: 25px;
}
p{
    font-size: 20px;
}
.td{
    font-size: 20px;
}

body {
    background-color: #011627;
    color: #dee6ec;
    padding-left: 5%;
    border: 30px solid #EF5B0C;
    border-top: 0px;
    margin: 0px;
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
}

hr {
    border-style: dotted none none none;
    height: 0px;
    width: 6%;
    border-color: #3CCF4E;
    

    border-width: 5px;
}

h1 {
    color: #EF5B0C;
    
}



.texts {
    text-decoration: solid;
}

h3 {
    color: #EF5B0C;
}

h4 {
    color: #EF5B0C;
}
.logo {
    width: 50px;
    background-color: #011627;
    text-align: right;
}



.link {
    color: #ff1764;

}

.input{
    background-color: rgb(197, 197, 197) ;
}

a{
    color: #011627;
}

